#searchbar
{
    margin-top: 80px;
    background-image: url('../images/landingpage_00.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#searchbar .wrapper
{
    padding-top: 160px;
    padding-bottom: 160px;
}
#searchbar .wrapper form
{
    display: block;
    text-align: center;
}
#searchbar .wrapper form input[type=text]
{
    padding: 5px;
    border: 1px solid #ababab;
    width: 360px;
    height: 40px;
    box-shadow: none;
    transition: box-shadow 0.3s;
}
#searchbar .wrapper form input[type=submit]
{
    border: none;
    width: 100px;
    background: #002976;
    color: #fafafa;
    font-weight: bold;
    height: 40px;
    margin-left: -5px;
}
#searchbar .wrapper form input[type=text]:hover,
#register .wrapper form input:hover
{
    -moz-box-shadow:    inset 0 0 4px #002e84;
    -webkit-box-shadow: inset 0 0 4px #002e84;
    box-shadow:         inset 0 0 3px #002e84;
}

#searchbar .wrapper form input[type=submit]:hover,
#register .wrapper form input[type=submit]:hover
{
    background: #002e84;
}

#register .wrapper
{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#register
{
    background: #e1e1e1;
    min-height:500px;

}

#register h1
{
    text-align: center;
    font-size: 23px;
    color: #7a7a7a;
    padding-top: 70px;
    padding-bottom: 30px;
}

#register .wrapper form input
{
    padding: 5px;
    margin-top: 6px;
    background: #fafafa;
    border: 1px solid #9a9a9a;
    min-width: 100%;
    min-height: 30px;
    box-shadow: none;
    transition: box-shadow 0.3s;
}

#register .wrapper form input[type=submit]
{
    background: #002976;
    color: #fafafa;
    border-color: #002976;
    font-weight: bold;
    height: 50px;
}

#register .wrapper
{
    max-width: 860px;
}


#register-image
{
    background-image: url('../images/landingpage_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#schools
{
    background: #cccccc;
    min-height:300px;
}

#schools .images
{
    display: grid;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    grid-gap: 20px;

    padding-top:70px;
}

#school_00
{
    background-image: url('../images/schools/videndjurs.jpg');
    grid-column: 2/3;
    grid-row: 1/2;
}

#school_01
{
    background-image: url('../images/schools/aarhustech.png');
    grid-column: 3/4;
    grid-row: 1/2;
}

#school_02
{
    background-image: url('../images/schools/eaaa.png');
    grid-column: 4/5;
    grid-row: 1/2;
}

#school_03
{
    background-image: url('../images/schools/ucn.jpg');
    grid-column: 5/6;
    grid-row: 1/2;
}

#schools .images div
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100px;
}

#schools h1
{
    text-align: center;
    color: #7a7a7a;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (max-width: 700px)
{
    #register .wrapper
    {
        /*display: inline-block;*/
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #searchbar .wrapper
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #schools .images
    {
        grid-template-columns: 5% repeat(2, 1fr) 5%;
        grid-template-rows: minmax(10px, 1fr);
    }
    #school_02
    {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #school_03
    {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #searchbar .wrapper form input[type=text]
    {
        width: 70%;
    }
    #searchbar .wrapper form input[type=submit]
    {
        width: 30%;
    }
    
}