*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body
{
    background: #e4e4e4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100%;
}

#main-wrapper
{
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #cccccc;
}

#header
{
    height: 80px;
    width: 100%;
    background: #002366;
    text-align: center;
    color: #fafafa;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.searchBTN 
{
    background-color:#007408;
    color:white;
    height:40px;
    width:100px;
}

#header .wrapper
{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.login 
{
    padding-top:25px;
}

a.logo_link:visited {
    color: white;
    text-decoration: none;
}


a.logo_link:link {
    color: white;
    text-decoration: none;
}

#logo
{
    float: right;
    padding-top:25px;
    grid-column: 2/3;
}

#login-email,
#login-password
{
    width: 160px;
    height: 30px;
}

#login-submit
{
    background: #007408;
    border: none;
    color: #fafafa;
    font-weight: bold;
    width: 100px;
    height: 30px;
}

#login-submit:hover
{
    background-color: #005806;
}

#login
{
    grid-column: 3/4;
    margin-left: auto;
    margin-right: auto;
}

#login form li
{
    display: block;
    text-align: right;
}

input[type=submit]
{
    cursor: pointer;
}

#content-wrapper
{
    position: static;
    min-height: 100%;
    margin-top: 0px;
    padding-bottom: 80px;
}

#content
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
}

/*#main-content
{
    margin-top: 80px;
    padding-bottom: 50px;
}*/

#footer
{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fafafa;
    background-color: #002e84;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
}

@media (max-width: 700px)
{
    #login form label
    {
        text-align: left;
        display: block;
    }
}