﻿body {
    background-color:dimgrey;

}
#opretwrap{
    background-color:white;
    width:80%;
    height:200%;

    border:1px solid black;
    margin:auto;
}
#opretbegreb {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float:left;
}
#opretsource{
    width:46%;
    margin-left:2%;
    margin-right:2%;
    float:right;
}

