﻿@model concept_sharing_sem1.Models.Subject

<div class="container" style="margin-top:200px;">
    
    <div class="col-md-5" style="border:solid #808080 1px; min-height:300px;">
       
        <div class="row" style="padding-top:50px;">

            <div class="col-md-5">
                <b>
                    @Html.DisplayTextFor(model => model.Title)
                </b>
      
            </div>
            <div class="col-md-5  pull-right">
                <a href="@Url.Action("Edit", "Student", new { id=Model.SubjectID })"  class="btn btn-primary">Ret Begreb</a>
            </div>
        </div>

        <div class="row" style="padding-top:25px;">

            <div class="col-md-10">
                @Html.Raw(Model.Concept.Content)
            </div>
        </div>
 

   


    </div>

    <div class="col-md-1">

    </div>
    <div class="col-md-5 well" style="border:solid #808080 1px; min-height:300px;">
        <div class="row" style="padding-top:50px;">
      
         
        </div>
        <div class="row" style="padding-top:25px;">

            <div class="col-md-2">
                <label>Fag</label>
                @Html.DisplayTextFor(model => model.Concept.course.CourseName)
            </div>
         
            @foreach (var item in Model.Concept.Sources.Where(x => x.SourceID == x.ConceptID))
            {
                <div class="col-md-2">
              
                   <label>Forfatter</label>
                    @Html.DisplayFor(modelItem => item.Arthor)
                </div>

                <div class="col-md-2">
                    <label>Kilde</label>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </div>
            }
          
        </div>
    </div>




    @*<div class="col-md-2">
        <label>Begreb</label>
        <br />
        @Html.DisplayTextFor(model => model.Title)
    </div>
    <div class="col-md-2">
        <label>Beskrivelse</label>
        <br />


        </div>
    <div class="col-md-2">


        <label>Fag</label>
        <br />
        @Html.DisplayTextFor(model => model.Concept.course.CourseName)

    </div>*@




    @*@foreach (var item in Model.Concept.Sources.Where(x => x.SourceID == x.ConceptID))
    {
        <div class="col-md-2">
            <label>Forfatter</label>
            <br />
            @Html.DisplayFor(modelItem => item.Arthor)
        </div>

        <div class="col-md-2">
            <label>Kilde</label>
            <br />
            @Html.DisplayFor(modelItem => item.SourceName)
        </div>


    }

    <div class="col-md-2">

    <!--User need to logind-->
        <a href="">Ret</a>






    </div>*@

</div>


<div class="footer">
    <div class="container">

        <p>&copy; @DateTime.Now.Year - Concept sharing</p>
    </div>

</div>











