﻿@model concept_sharing_sem1.ViewModels.UserViewModel

<div id="register">
    <h1>Opret en gratis bruger</h1>
    <div class="wrapper">
        <div>
         
             @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "register-form" }))
             {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>
                    <label for="register-username">Brugernavn</label>
                   
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Brugernavn", required = "required", @id= "register-username" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="register-email">E-Mail</label>
                  
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", required = "required", @id = "register-email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="register-password">Kodeord</label>
                 
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adgangskode", required = "required", @id = "register-password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="register-password-repeat">Gentag Kodeord</label>
                   
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gentag adgangskode", required = "required", @id = "register-password-repeat" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </p>
                <p>
                    <input type="submit" value="Opret Bruger">
                </p>

             }


       
     
        </div>
        <!--Register Form-->
        <div id="register-image"></div>
        <!--Register Image-->
    </div>
    <!--Wrapper-->
</div>