﻿
@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotronbg">
    <div class="container" style="min-height:500px;">
        <h1 style="padding-top:200px; color:white; text-align:center;">
            Søg på begreber på tværs af fag
        </h1>
    </div>
</div>

<div class="jumbotron" style="background-color:white; margin-top:100px;" >

    <div class="container">
        <div class="col-md-3">
            <img src="~/Content/images/eaaa.png" height="80" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/images/aarhustech.png"  height="120" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/images/ucn.jpg"  height="100" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/images/videndjurs.jpg"  height="120" />
        </div>
    </div>

</div>


<div class="footer">
    <div class="container">

        <p>&copy; @DateTime.Now.Year - Concept sharing</p>
    </div>

</div>


