﻿@model concept_sharing_sem1.ViewModels.ConceptViewModel
@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "submitForm", name = "createConcept", @class = "form-horizontal" }))
{
    <div class="container" style="margin-top:50px;">
        <h2>Opret begreb</h2>

        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title", required = "required" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName)
                @Html.DropDownList("courseTypes", ViewBag.CourseID as IEnumerable<SelectListItem>, "--Vælg fag--", new { @class = "form-control", required = "required" })
                <input name="getCourseTypeID" hidden="hidden" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content)
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @row = 5, id = "Content", required = "required" })
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-default">Tilføj begreb</button>
                <button class="btn btn-default">Annuler</button>

            </div>

        </div>
        <div class="col-md-1">

        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.SourceName)
                @Html.DropDownList("sourceTypes", ViewBag.SourceTypeID as IEnumerable<SelectListItem>, "--Vælg kildetype--", new { @class = "form-control", required = "required" })



                <input name="getSourceTypeID" hidden="hidden" />




            </div>
            <div class="form-group">



                <div id="authorTitle" style="display:none;">

                    <label for="email">Forfatter og Title</label>
                    @Html.EditorFor(model => model.Arthor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Forfatter", required = "required" } })
   
                    <br />

                    @Html.EditorFor(model => model.SourceName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emne", required = "required" } })
                </div>


                <div id="Attributes" style="display:none;">
                    <label>Tilhørende egenskaber</label>
                </div>

        
                <div id="sourceTypesAttributes">

                </div>
            </div>
            <div class="form-group">

                <a href="#" id="addSource">Tilføj kilde <i class="fa fa-plus-circle" aria-hidden="true"></i></a>


            </div>

            <div class="form-group">

                <hr style="border-top: 1px solid #808080; margin-left:0px; width:275px;" />
                <p id="books"></p>
                <p id="links"></p>
                <p id="videos"></p>
            </div>
        </div>







    </div>



}


<div id="crateConcept" data-attribute="@Url.Action("Student", "Create")"></div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<script src="~/Scripts/Concept/createConcept.js"></script>
<script>
    getCourcetypes();
    getSourcetypes();
    postFormConcept();
</script>


<script src="~/Scripts/jquery.validate.min.js"></script>

