﻿@model concept_sharing_sem1.Models.Subject
@using (Html.BeginForm())
{
    <div class="container" style="margin-top:50px;">

        <h4>Ret begreb</h4>
        <hr />

        @Html.HiddenFor(model => model.SubjectID)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Concept.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.LabelFor(model => model.Concept.Content)
                @Html.TextAreaFor(model => model.Concept.Content, new { @class = "form-control", @row = 5, id = "Content", required = "required" })
            </div>
        </div>
        <button type="submit" class="btn btn-default">Ret</button>
    </div>








}
