﻿@using concept_sharing_sem1.Models;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Concept sharing</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/sticky-footer-navbar.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Views/Search/conceptcss.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Concept sharing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

           
       
                    <div class="col-sm-4 col-md-4">
                        <style>

                            .ui-autocomplete {
                                z-index: 2000 !important;
                                width:400px;
                            }

                        </style>
                
                        <form action="~/Search/Result" class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" style="width:300px;"  id="txtCustomer" placeholder="Søg på begreber">
                                <input type="hidden" id="getSeachValue" name="ID" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="getSearchBTN" type="submit">Find begreb <i class="fa fa-search"></i></button>
                                </div>
                            </div>
                           @ViewBag.Error
                        </form>
                        
                    </div>

                
                <ul class="nav navbar-nav pull-right ">
                    <li>
                        @if (Request.IsAuthenticated)

    {
                    <a href="~/Student/Create" class="btn btn-success active"  role="button">Tilføj koncept</a>
                            
                        }
                    </li>
                  
                    <li>
          
                        @Html.ActionLink("Opret bruger", "Create", "User")
                    </li>

                    @if (User.Identity.IsAuthenticated)

                    {
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min profil<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Min profil", "Role", "Auth")</li>
                          

                                @{

                                    using(Connection db = new Connection())
                                    {
                                        User user = new User();
                                        var getUserLoggedIn = User.Identity.Name;
                                        ViewBag.GetName = getUserLoggedIn;
                                        user = db.Users.FirstOrDefault(a => a.Email == getUserLoggedIn);
                                        if (user.RoleID == 1)
                                        {
                                            //Admin
                                            <li>

                                                   <li>@Html.ActionLink("Brugerliste", "Index", "Administrator")</li>
                                                   <li>@Html.ActionLink("Opret begreb", "Create", "Student")</li>

                                            </li>
                                        }
                                        else if (user.RoleID == 2)
                                        {
                                            <li>@Html.ActionLink("Se begreber", "Create", "Student")</li>
                                            //Teacher

                                        }

                                        else if (user.RoleID == 3)
                                        {
                                            <li>@Html.ActionLink("Opret begreb", "Create", "Student")</li>
                                            //Student

                                        }
                                    }



                                }


                            </ul>
</li>

                        <li>
                           
                            @Html.ActionLink("Log ud", "Logout", "Auth")
                        </li>
                    }

                    else
                    {
                        <li>
                            @Html.ActionLink("Log ind", "Logind", "Auth")
                        </li>

                    }
                </ul>
                
</div>
        </div>
    </div>
    <div style="bottom:0;">
        @RenderBody()


    </div>





           <script src="~/Scripts/jquery-3.2.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap-tagsinput.js"></script>


        <!--Summernote-->
        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
        <script src="~/Scripts/summernote.js"></script>
        <script src="~/Scripts/home-index.js"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
        <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="stylesheet" />

        <script src="~/Scripts/Concept/searchConcept.js"></script>




</body>
</html>
    
