﻿@model concept_sharing_sem1.ViewModels.UserViewModel


<div class="container" style="margin-top:50px;">
    <div class="col-md-12">
        <h2>
            Opret bruger
        </h2>
    </div>
    <div style="padding-top:50px;">
        <div class="col-md-4">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <label>Brugernavn</label>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">

                        <label> Adgangskode</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">

                        <label> Adgangskode</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">

                        <label>E-mail</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                    </div>


                    <div class="form-group">

                        <input type="submit" value="Opret bruger" class="btn btn-success" />

                    </div>
                </div>
            }
        </div>

        <div class="col-md-6">
            <img src="~/Content/images/landingpage_01.jpg" height="350" />
        </div>


    </div>




</div>

