﻿@model concept_sharing_sem1.Models.User


<div class="container" style="margin-top:200px;">

    @using (Html.BeginForm(null, null, FormMethod.Post))
            {

        <div class="form-horizontal col-md-6">
            <div class="form-group">
                <label>
                    Brugernavn
                </label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", @placeholder = "E-mail adresse",  style = "width:300px"  } })
            </div>
            <div class="form-group">
                <label>
                    Adgangskode
                </label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Password", type = "password", style = "width:350px" } })
            </div>
            <div class="form-group">

                <button class="btn  btn-primary " type="submit">Log ind</button>
            </div>

        </div>

        <span id="reauth-email" class="reauth-email"></span>
              

        
           
    }




</div>

