﻿@model IEnumerable<concept_sharing_sem1.Models.Concept>


<div class="container" style="margin-top:100px;">


    <p>
        @Html.ActionLink("Gå til brugere", "Index")
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Find by title: @Html.TextBox("ConceptSearch")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject.Title)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.subject.Title)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ConceptID }) |*@
                    @Html.ActionLink("Go to Concept", "gotoconcept", new { id = item.ConceptID }) |
                    @Html.ActionLink("Delete", "DeleteConcept", new { id = item.ConceptID }, new { onclick = "return confirm('Do you really want to delete the conept " + item.subject.Title + "?')" })
                </td>
            </tr>
        }

    </table>


</div>