﻿@model IEnumerable<concept_sharing_sem1.Models.User>

@{
   
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container" style="margin-top:100px;">

        <p>
            @Html.ActionLink("Gå til koncepter", "Adminconcept")
        </p>
        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UserNameSort })
                </th>
                <th>
                    @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.RoleSort })
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSort })
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "EditUser", new { id = item.UserID })*@
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserID }, new { onclick = "return confirm('Do you really want to delete the user " + item.Username + "?')" })

                    </td>
                </tr>
            }
        </table>
    </div>

</body>
</html>